<div class="side-modal" [class.open]="showModal">
    <div class="modal-content">
        <div>
            <button type="button" class="close-modal" (click)="closeModal()">X</button>
            <h2 class="titre-modal" >Voir le rendu visuel de la question</h2>  
        </div>
        <div>
            <textarea autosize class="form-control input-border-bottom libelle-question" rows="1"
            [(ngModel)]="titre" name="libelleQuestion"></textarea>

            <div class="form-check" *ngFor="let modalite of modalites; index as i">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="i">
                <label class="form-check-label" for="i">
                    {{ modalite.libelle}}
                </label>
            </div>
        </div>
    </div>
</div>


