<li class="question" cdkDrag>
  <input class="d-none" value="fermee_simple"/>
  <div class="d-flex justify-content-between" >
    <img class="ancre" src="assets/images/quaero/transfert_blanc.png" width="25vh" height="20vh" cdkDragHandle>
    <h5 class="type-question">Question fermée à choix <strong class="text-uppercase">unique</strong></h5>
    <div>
        <img class="remove-question" src="assets/images/quaero/supprimer.png"  title="Supprimer la question" (click)='remove_question(this.componentId)'/>
        <img name="img_reduce" class="img_collapse" [src]="img_collapse_expand"  title="Réduire la question" (click)='collapse_question()'/>
    </div>
  </div>
  <input class="form-control input-border-bottom libelle-question" placeholder="Libellé de la question" [(ngModel)]="libelleQuestion"/>
  <div [hidden]="collapseQuestionsService.isCollapseAll" [hidden]="isCollapse" >
    <div class="div-modalites">
      <span [hidden]="!dataSource.length" class="title-modalites">Modalités</span>
      <div class="table-modalites">
        <table class="table table-responsive-sm ">
          <tbody cdkDropList (cdkDropListDropped)="onDrop($event)">
            <tr cdkDrag *ngFor="let data of dataSource">
              <td cdkDragHandle class="colonne-position">{{data.position}}</td>
              <td><input class="libelle-modalite input-border-bottom" value='{{data.libelle | titlecase}}' placeholder="Libellé modalité"  (change)="onInputChange($event, data.position)"/></td>
              <td class="colonne-actions">
                <img [ngClass]="'img-action'" id="img_supprimer" src="assets/images/quaero/corbeille_noir.png" data-url="" 
                title="Supprimer la modalite"  (click)="removeModalite(data.position)"/>
              </td>
              <div *cdkDragPreview matchSize="true" class="container">{{data.libelle | titlecase}}</div>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <button mat-raised-button (click)="addModalite()" class="demo-button">
          Ajouter Modalité
        </button>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between footer d-block">
    <div class="form-check form-switch">
        <input class="form-check-input obligatoire" [(ngModel)]= "obligatoire" type="checkbox" title="Réponse obligatoire">
        <label class="form-check-label label-s" title="Réponse obligatoire">Obligatoire</label>
    </div>
    <img class="img-actions btn-branchement" src="assets/images/quaero/jump.png"  title="Définir un branchement conditionnel" (click)="openSideModal()"/>
    <img class="align-items-start footer-right" src="assets/images/quaero/eye.png" title="Voir le résultat" (click)="display_question_fermee_unique()"/>
  </div>
  <div>
      <textarea class="branchement d-none" placeholder="Branchement" readonly></textarea>
  </div>
  <app-branchement-modal #sideModal [titre]="libelleQuestion" [modalites]="dataSource" [questions]="questions"></app-branchement-modal>
</li>
