/*Bloc Question*/
.ancre{
cursor: grab;
}
.question{
background-color: rgb(240, 236, 239); padding: 1%; border-radius: 1vh 1vh 1vh 1vh; margin-bottom: 2%;
background-image: -webkit-linear-gradient(top, rgb(74, 56, 117), rgb(74, 56, 117) 5vh, transparent 0%, transparent 100%);
}
.img_collapse{
cursor: pointer; width: 4vh; height: 4vh; margin-top: -0.8vh; border-radius: 5px 5px 5px 5px;
}
.input-border-bottom{
border-top: 0 solid transparent; border-right: 0 solid transparent; border-bottom: 1px solid gray; border-left: 0 solid transparent;
border-radius: 0 0 0 0; background-color: transparent; margin-bottom: 1%;
}
li.question::marker{
font-size: 3vh;
color:rgb(74, 56, 177);
right : 15%;
}
.libelle-question{
    margin-top: 3%;
    font-size: x-large;
    resize: none;
    overflow-y: hidden;
}
.remove-question{
float: right;
width: 4vh;
height: 4vh;
cursor: pointer;
margin-top: -0.7vh;
}
.type-question{
color: white;
font-size: 2vh;
}
/*Bloc Footer*/
.branchement{
margin-top: 3%; width: 100%; border-radius: 5px 5px 5px 5px; border: 5px solid rgb(194, 185, 212);
}
.btn-branchement{
cursor: pointer; width: 35px; height: 35px; margin-top: -10px; margin-left: -65px;
}
.footer{
margin-top: 3%;
}
.footer-right{
margin-left: 25px;
margin-top: 5px;
width: 25px;
height: 25px;
cursor: pointer;
}
img{
cursor: pointer;
}
  
.img-smiley{
  margin: 1%;
  width: 10vh;
  height: 10vh;
}
.centered{
    margin-left: auto;
    margin-right: auto;
}
.input-note{
    font-size: 1.5vw;
    width: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    text-align: center;
    color: rgb(74, 56, 117);
}
.div-images{
    margin-top: 5%;
}

.figure-caption{
    font-size: medium;
    color:rgb(46, 14, 120);
    text-align: center;
}
.echelle-7{
    width: 90%;
}
.echelle-5{
    width: 60%;
}
.btn-type-echelle{
    margin-top: 3%;
    font-size: medium;
}
.btn-echelle{
    color : rgb(74, 56, 177)!important;
}
.mat-button-toggle-checked{
    color: white !important;
    background-color:rgb(74, 56, 117) !important;
}
:not(.mat-button-toggle-checked, .type-question){
    color:rgb(74, 56, 117) !important;
}