<title>Nouveau</title>
  <mat-card>
    <mat-card-content>
      <div [ngClass]="'toolbox'">
          <ul>
              <li [ngClass]="'li-toolbox'"><img [ngClass]="'img_toolbox'" id="img_question" src="assets/images/quaero/question.png"  title="Choisir un type de question" (click)="displayMenuQuestions()"/> </li>
              <ul id="menu-questions" [hidden]="isShowMenuQuestions">
                  <li  [ngClass]="'li-toolbox'"><img [ngClass]="'img_toolbox'" id="img_current_questions" src="assets/images/quaero/current_questions.png" title="Types de question courants" (click)="displayMenuCurrentQuestions()"/> </li>
                  <ul id="current_questions" [hidden]="isShowMenuCurrentQuestions">
                      <li  [ngClass]="'li-toolbox'"><img [ngClass]="'img_toolbox'" id="img_fermee_simple" src="assets/images/quaero/fermee_simple.png" title="Question fermée à choix unique" (click)="createFermeeSimple()"/> </li>
                      <li  [ngClass]="'li-toolbox'"><img [ngClass]="'img_toolbox'" id="img_fermee_multiple" src="assets/images/quaero/fermee_multiple.png" title="Question Fermée à choix multiple" (click)="createFermeeMultiple()"/></li>
                      <li  [ngClass]="'li-toolbox'"><img [ngClass]="'img_toolbox'" id="img_ouverte" src="assets/images/quaero/ouverte.png" title="Question ouverte"/> </li>
                  </ul>
                  <li  [ngClass]="'li-toolbox'"><img [ngClass]="'img_toolbox'" id="img_others_questions" src="assets/images/quaero/others_questions.png" title="Autres types de question" (click)="displayMenuOthersQuestions()"/> </li>
                  <ul id="others_questions" [hidden]="isShowMenuOthersQuestions">
                      <li  [ngClass]="'li-toolbox'"><img [ngClass]="'img_toolbox'" id="img_tableau" src="assets/images/quaero/grille.png"  title="Question sous forme de Tableau" (click)="createGrille()"/> </li>
                      <li  [ngClass]="'li-toolbox'"><img [ngClass]="'img_toolbox'" id="img_echelle" src="assets/images/quaero/echelle.png"  title="Question échelle" (click)="createEchelle()"/></li>
                      <li  [ngClass]="'li-toolbox'"><img [ngClass]="'img_toolbox'" id="img_notation" src="assets/images/quaero/star.png"  title="Question notation" (click)="createNotation()"/></li>
                      <li  [ngClass]="'li-toolbox'"><img [ngClass]="'img_toolbox'" id="img_satifaction" src="assets/images/quaero/smiley.png"  title="Question satifaction" (click)="createSatisfaction()"/></li>
                      <li  [ngClass]="'li-toolbox'"><img [ngClass]="'img_toolbox'" id="img_date" src="assets/images/quaero/date.png"  title="Question date"/></li>
                      <li  [ngClass]="'li-toolbox'"><img [ngClass]="'img_toolbox'" id="img_heure" src="assets/images/quaero/heure.png"  title="Question heure"/></li>
                  </ul>
              </ul>
              <li  [ngClass]="'li-toolbox'"><img [ngClass]="'img_toolbox'" id="img_save" src="assets/images/quaero/save.png" data-url="" title="Sauvegarder" (click)="saveQuestionnary()"/></li>
              <li  [ngClass]="'li-toolbox'"><img [ngClass]="'img_toolbox'" id="img_reduce_expand" [src]="img_collapse_expand_all"  title="Réduire toutes les questions" (click)="collapseQuestions()"/></li>
              <li  [ngClass]="'li-toolbox'"><img [ngClass]="'img_toolbox'" id="img_effacer_tout" src="assets/images/quaero/gomme.png" data-url="" title="Tout effacer" (click)="removeAllComponents()"/></li>
          </ul>
      </div>

      <div class="bg-light p-5 rounded">
        <div class="d-flex justify-content-between">
            <label class="badge label-xxl">{{statusQuestionnary}}</label>
            <label class="badge label-xxl d-block">{{ id_questionnary }}</label>
        </div>
        <div>
          <!-- <input class="form-control input-border-bottom intitule" placeholder="Intitulé du questionnaire" #intituleQuestionnaire value="" (change)="onChange($event)"/> -->
          <input class="form-control input-border-bottom intitule" placeholder="Intitule du questionnaire" [(ngModel)]="intituleQuestionnaire"/>
          <span id="intituleQuestionnaireVide" class="d-none">Attention l'intitulé de votre questionnaire est vide, veuillez le renseigner puis sauvegarder</span>
        </div>
        <div>
          <ol #main cdkDropList (cdkDropListDropped)="onDrop($event)">
            <ng-template #question></ng-template>
          </ol>
        </div>
      </div>
      <input id="content" class="d-none"/>
    </mat-card-content>
  </mat-card>
