<li class="differentiel">
    <div class="d-flex justify-content-between">
        <input class="form-control input-border-bottom differentiel-gauche"  placeholder="Libellé Gauche"/>
        <div class="col col-lg-1 bloc centered ">
            <div class="d-flex"></div>
        </div>
        <input class="form-control input-border-bottom differentiel-droite"  placeholder="Libellé Droite"/>
        <button class="btn-close btn-modalite" onclick="remove_differentiel(this)"></button>
    </div>
</li>