<!-- {% load static %} -->
<li class="question">
    <input class="d-none" value="ouverte"/>
    <div class="d-flex justify-content-between head-question">
        <img class=" ui-sortable handle ancre" src="{%  static '/images/quaero/ancre.png' %}"  title="Saisissez ici le pavé question pour le déplacer" width="25px" height="25px" />
        <h5 class="type-question">Question <strong class="text-uppercase">ouverte</strong></h5>
        <div>
            <img class="remove-question" src="{%  static '/images/quaero/supprimer.png' %}"  title="Supprimer la question" onclick='remove_question(this)'/>
            <img name="img_reduce" class="img_collapse" src="{%  static '/images/quaero/collapse.png' %}"  title="Réduire la question" onclick='collapse_question(this)'/>
        </div>
    </div>
    <input class="form-control input-border-bottom libelle-question"  placeholder="Libellé de la question" />
    <div class="div_modalites">
        <textarea class="textarea" rows="3" placeholder="Saisissez ici votre réponse"></textarea>
    </div>
    <div style ="color:rgb(240, 236, 239);">.</div>
    <hr>
    <div class="d-flex justify-content-between">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox">
            <label class="form-check-label label-s">Obligatoire</label>
        </div>
        <img class="img_actions" src="{%  static '/images/quaero/jump.png' %}"  title="Définir un branchement conditionnel" onclick="display_modal_branchement(this)"/>
        <img class="align-items-start footer-right" src="{%  static '/images/quaero/eye.png' %}" title="Voir le résultat" onclick="display_question_ouverte(this)"/>
    </div>
    <div>
        <textarea class="branchement d-block" placeholder="Branchement" readonly></textarea>
    </div>
</li>