/*Bloc Question*/
.ancre{
    cursor: grab;
  }
  .question{
    background-color: rgb(240, 236, 239); padding: 1%; border-radius: 1vh 1vh 1vh 1vh; margin-bottom: 2%;
    background-image: -webkit-linear-gradient(top, rgb(74, 56, 117), rgb(74, 56, 117) 5vh, transparent 0%, transparent 100%);
  }
  .img_collapse{
    cursor: pointer; width: 4vh; height: 4vh; margin-top: -0.8vh; border-radius: 5px 5px 5px 5px;
  }
  .input-border-bottom{
    border-top: 0 solid transparent; border-right: 0 solid transparent; border-bottom: 1px solid gray; border-left: 0 solid transparent;
    border-radius: 5px 5px 0px 0px; background-color: transparent; margin-bottom: 1%;
  }
  li.question::marker{
    font-size: 3vh;
    color:rgb(74, 56, 177);
    right : 15%;
  }
  .libelle-question{
    margin-top: 3%;
    font-size: x-large;
    resize: none;
    overflow-y: hidden;
  }
  .remove-question{
    float: right;
    width: 4vh;
    height: 4vh;
    cursor: pointer;
    margin-top: -0.7vh;
  }
  .type-question{
    color: white;
    font-size: 2vh;
  }
  
  
  /*Bloc Footer*/
  .branchement{
    margin-top: 3%; width: 100%; border-radius: 5px 5px 5px 5px; border: 5px solid rgb(194, 185, 212);
  }
  .btn-branchement{
    cursor: pointer; width: 30px; height: 30px; margin-top: -5px; margin-left: 5px;
  }
  .footer{
    margin-top: 3%;
  }
  .footer-right{
    margin-left: 25px;
    margin-top: 5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  .saisie-number{
    width: 6vw; 
    margin-top: -0.5vh; 
    margin-left: 1vw; 
    text-align: center; 
    font-size: 1.5vw;
  }
  .centered{
    margin-top: 5%;
    margin-bottom: 7%;
  }
  .label-input{
      font-size: 1vw;
      margin-top: 0.5vw;
      color: rgb(74, 56, 117)
  }
  .img-etoile{
    width: 2.3vw;
    height: 2vw;
  }
  .img-etoile:hover{
      content: url("src/assets/images/quaero/star_full.png");
  }
  img{
      cursor: pointer;
      margin-right: 0.5vw;
  }
  .div-etoiles{
    margin-top: 3vw;
  }
    
  
  
  
  
  