<div class="side-modal" [class.open]="showModal">
    <div class="modal-content">
        <div>
        <h2 class="titre-modal" ></h2>
        <button type="button" class="btn-close close-modal" aria-label="Close" (click)="closeModal()"></button>
        </div>
        <div>
            <h1 class="libelle-question"> {{titre}} </h1>
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th class="centered">#</th>
                        <th class="centered" *ngFor="let colonne of colonnes"> {{ colonne.libelle}} </th>
                    </tr>
                    
                </thead>
                <tbody>
                    <tr *ngFor="let ligne of lignes; index as i">
                        <td> {{ ligne.libelle}} </td>
                        <td class="col-2" *ngFor="let colonne of colonnes; index as j" width="50px" >
                            <div class="form-check d-flex justify-content-center">
                                <input class="form-check-input" type="radio" name="{{i}}" value=""/>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

  
