.img-action{
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-right: 20px;
    margin-top: -5px;
}
.pagination{
    margin-top: 2%;
    float: right;
}
.label-xxl{
    font-size: 1vw;
    margin-top: -1%;
    margin-bottom: 1%;
    margin-left: 3%;
    height: 2vw;
    background-color: rgb(74, 56, 117);
}
.table{
    width: 100%;
}
.mat-column-position {
    flex: 0 0 5% !important;
  }
  
  .mat-column-intitule {
    flex: 0 0 55% !important;
  }
  
  .mat-column-date {
    flex: 0 0 25% !important;
  }
  
  .mat-column-actions {
    flex: 0 0 15% !important;
  }

  .mat-cell {
    vertical-align: top;
  }