<div>
  <div>
    <label class="badge label-xxl">{{status}}</label>    
  </div>
  <div>
    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z2">

      <!-- ID Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <mat-cell *matCellDef="let row"> {{row.position}} </mat-cell>
      </ng-container>
  
      <!-- Intitule Column -->
      <ng-container matColumnDef="intitule">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Intitulé </th>
        <mat-cell *matCellDef="let row"> {{row.intitule}} </mat-cell>
      </ng-container>
  
      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Création</th>
        <mat-cell *matCellDef="let row"> {{row.date | date:'dd/MM/yyyy HH:mm:ss'}} </mat-cell>
      </ng-container>
  
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
        <mat-cell *matCellDef="let row">
          <img *ngIf="showImage" [routerLink]="['/new-questionnary', row.position]" class="img-action" id="img_modifier" src="assets/images/quaero/crayon.png"  title="Modifier le questionnaire"/>
          <img  *ngIf="showImage" [routerLink]="['/edit-questionnary', row.position]" class="img-action" id="img_afficher" src="assets/images/quaero/saisie.png" title="Saisir un questionnaire"/>
          <img  *ngIf="showImage" id="img_supprimer" class="img-action" src="assets/images/quaero/corbeille_noir.png" data-url="" (click)="deleteRow(row.position)" title="Supprimer le questionnaire"/>
          <img id="img_visualiser" [routerLink]="['/resultat-simple', row.position]" class="img-action" src="assets/images/quaero/explore/analyse.png" title="Analyser les résultats"/>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  </div>
  
  
  <div class="pagination">
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
  </div>
</div>


