.label-xxl{
    font-size: 4vh; 
    font-weight: bold;
    margin-left: 2%;
    color : rgb(9, 90, 44);
}
.label-xl{
    font-size: 3vh; 
    margin-top: 3%;
}
.btn-actions{
    width: 8em;
    float: right;
    margin-left: 10px;
    color: white;
    background-color: rgb(9, 90, 44);
    font-weight: bolder;
};
textarea{
    width: 100%;
}
.nom_fichier{
    margin-top: 5%;
}