<li class="question" cdkDrag>
  <input class="d-none" value="fermee_multiple" />
  <div class="d-flex justify-content-between">
    <img class="ancre" src="assets/images/quaero/transfert_blanc.png" width="25vh" height="20vh" cdkDragHandle>
    <h5 class="type-question">Question fermée à choix <strong class="text-uppercase">multiple</strong></h5>
    <div>
      <img class="remove-question" src="assets/images/quaero/supprimer.png" title="Supprimer la question"
        (click)='remove_question(this.componentId)' />
      <img name="img_reduce" class="img_collapse" [src]="img_collapse_expand" title="Réduire la question"
        (click)='collapse_question()' />
    </div>
  </div>
  <div>
    <textarea autosize class="form-control input-border-bottom libelle-question" placeholder="Libellé de la question"
      rows="1" [(ngModel)]="libelleQuestion" name="libelleQuestion"></textarea>
  </div>
  <div [hidden]="collapseQuestionsService.isCollapseAll" [hidden]="isCollapse">
    <div class="div-modalites">
      <span [hidden]="!dataSource.length" class="title-modalites">Modalités</span>
      <div class="table-modalites">
        <table class="table table-responsive-sm ">
          <tbody cdkDropList (cdkDropListDropped)="onDrop($event)">
            <tr cdkDrag *ngFor="let data of dataSource">
              <td cdkDragHandle class="colonne-position">{{data.position}}</td>
              <td><input class="libelle-modalite input-border-bottom" value='{{data.libelle}}'
                  placeholder="Libellé modalité" (change)="onInputChange($event, data.position)" /></td>
              <td class="colonne-actions">
                <img [ngClass]="'img-action'" id="img_supprimer" src="assets/images/quaero/corbeille_noir.png"
                  data-url="" title="Supprimer la modalite" (click)="removeModalite(data.position)" />
              </td>
              <div *cdkDragPreview matchSize="true" class="container">{{data.libelle}}</div>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <button mat-raised-button (click)="addModalite()" class="demo-button">
          Ajouter Modalité
        </button>
      </div>
    </div>
  </div>

  <div class="container-fluid footer">
    <mat-accordion multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title></mat-panel-title>
          <mat-panel-description></mat-panel-description>
          <mat-icon class="icon icon-margin-right">settings</mat-icon>
        </mat-expansion-panel-header>
        <div class="d-flex justify-content-around">
          <div class="parametre-footer">
            <label class="label-footer">Générer une question : </label>
            <mat-icon class="icon"  title="Générer une question automatiquement" (click)="generateQuestion(this.componentId)">question_answer</mat-icon>
          </div>
          <div class="parametre-footer">
            <label class="label-footer">Afficher la question : </label>
            <mat-icon class="icon-settings" title="Voir le rendu visuel de la question" (click)="display_question_fermee_multiple()">remove_red_eye</mat-icon>
          </div>
        </div>
        <div class="d-flex justify-content-around div-margin-top">
          <div class="parametre-footer">
            <label class="label-footer">Branchement : </label>
            <mat-icon class="icon icon-branchement"  title="Définir un branchement conditionnel" (click)="openSideModal()">low_priority</mat-icon>
          </div>
          <div class="parametre-footer">
            <label class="label-footer">Nombre réponses possibles : </label>
            <input matInput class="input-border-bottom saisie-number" type="number" min="0" [(ngModel)]="maxReponses"
            (keyup)="onKeyup($event)" >
          </div>
        </div>
        <div class="d-flex justify-content-around div-margin-top">
          <div>        
            <label class="label-footer">Réponse : </label>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
              <mat-button-toggle value="1">Obligatoire</mat-button-toggle>
              <mat-button-toggle value="0">Facultative</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div>        
            <label class="label-footer">Réponses Ordonnées : </label>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
              <mat-button-toggle value="1">Oui</mat-button-toggle>
              <mat-button-toggle value="0">Non</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!-- <div class="d-flex justify-content-around footer d-block">
    <div class="form-check form-switch">
      <input class="form-check-input obligatoire" [(ngModel)]="obligatoire" type="checkbox" title="Réponse obligatoire">
      <img class="img-actions btn-branchement" src="assets/images/quaero/obligatoire.png" title="Réponse obligatoire" />
    </div>
    <div class="d-flex">
      <input class="input-border-bottom saisie-number" type="number" min="0" [(ngModel)]="maxReponses"
        (keyup)="onKeyup($event)" />
      <img class="img-actions btn-branchement" src="assets/images/quaero/max.png"
        title="Nombre de réponses possibles" />
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input ordonnee" [(ngModel)]="ordonnee" type="checkbox">
      <img class="img-actions btn-branchement" src="assets/images/quaero/ordre.png" title="Réponses ordonnées" />
    </div>
    <div>
      <img class="img-actions btn-branchement" src="assets/images/quaero/jump.png"
        title="Définir un branchement conditionnel" (click)="openSideModal()" />
    </div>
    <div>
      <img class="align-items-start footer-right" src="assets/images/quaero/eye.png" title="Voir le résultat"
        (click)="display_question_fermee_multiple()" />
    </div>
  </div> -->

  
  <div>
    <textarea class="branchement d-none" placeholder="Branchement" readonly></textarea>
  </div>
  <app-fermee-multiple-branchement #sideModal [titre]="libelleQuestion" [modalites]="dataSource"
    [questions]="questions"></app-fermee-multiple-branchement>
  <app-fermee-multiple-modal #editFermeeMultiple [titre]="libelleQuestion"
    [modalites]="dataSource"></app-fermee-multiple-modal>
</li>