.separateur{
    margin: 5%;
}
.separateur-menu{
    margin-bottom: 2%;
}

.image-menu{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.image-menu-xl{
    width: 45px;
    height: 45px;
}

.menu-general{
    width: 3vw; height: 3vw; min-width: 3vw;min-height: 3vw;
    display: block; position: fixed; left: 0;
}
