.modalite{
  width: 90%; padding-left:1em;
}

.input-border-bottom{
  border-top: 0 solid transparent; border-right: 0 solid transparent; border-bottom: 1px solid gray; border-left: 0 solid transparent;
  border-radius: 0 0 0 0; background-color: transparent; margin-bottom: 1%;
}

.input-modalite{
  width: 60%;
}

.btn-modalite{
  margin-left: 20px;
}

.sous-ligne{
  font-size: x-small; color:red;
}

