  mat-slider {
    width: 30vw;
  }
  .li-question{
    padding: 1vw;
    border: 1px solid rgb(236, 231, 231);
    background-color: rgb(244, 243, 244); border-radius: 1vh 1vh 1vh 1vh; margin-bottom: 2%;
    background-image: -webkit-linear-gradient(top, rgb(74, 56, 117) 0.5vw, transparent 0%, transparent 100%);
  }
  .semantique-gauche{
    text-align: right;
  }
  .div-libelle-question{
    margin-top: 1vw;
    margin-bottom: 1vw;
  }
  .libelle-question{
    font-size: 1.5vw;
    color:black;
  }
  li::marker{
    font-size: xx-large;
  }

  .semantique{
    font-size: 1vw;
    margin-left: 1vw;
    vertical-align: middle;
  }