
<li class="li-question">
    <div class="div-libelle-question">
        <span class="libelle-question"> {{libelleQuestion}} </span>
    </div>
    <div class="centered echelle-5"  *ngIf="echelle == '1'">
        <div class="d-flex justify-content-between div-images">
            <figure class="figure ">
                <div class="d-flex justify-content-center">
                    <img  class="img-smiley" src="assets/images/quaero/smiley_1.png" data-value="1" (click)="change_note($event)"/>
                </div >
                <div class="d-flex justify-content-center">
                    <figcaption class="figure-caption ">Très insatisfait.</figcaption>
                </div>
            </figure>
            <figure class="figure">
                <div class="d-flex justify-content-center">
                    <img  class="img-smiley" src="assets/images/quaero/smiley_2.png" data-value="2" (click)="change_note($event)"/>
                </div >
                <div class="d-flex justify-content-center">
                    <figcaption class="figure-caption">Plutôt insatisfait.</figcaption>
                </div>
            </figure>
            <figure class="figure">
                <div class="d-flex justify-content-center">
                    <img  class="img-smiley" src="assets/images/quaero/smiley_3.png" data-value="3" (click)="change_note($event)"/>
                </div >
                <div class="d-flex justify-content-center">
                    <figcaption class="figure-caption ">Moyennement satisfait.</figcaption>
                </div>
            </figure>
            <figure class="figure">
                <div class="d-flex justify-content-center">
                    <img  class="img-smiley" src="assets/images/quaero/smiley_4.png" data-value="4" (click)="change_note($event)"/>
                </div >
                <div class="d-flex justify-content-center">
                    <figcaption class="figure-caption ">Plutôt satisfait.</figcaption>
                </div>
            </figure>
            <figure class="figure">
                <div class="d-flex justify-content-center">
                    <img  class="img-smiley" src="assets/images/quaero/smiley_5.png" data-value="5" (click)="change_note($event)"/>
                </div >
                <div class="d-flex justify-content-center">
                    <figcaption class="figure-caption ">Très satisfait.</figcaption>
                </div>
            </figure>
        </div>
    </div>
    <div class="centered echelle-7"  *ngIf="echelle== '2'">
        <div class="d-flex justify-content-between div-images">
            <figure class="figure ">
                <div class="d-flex justify-content-center">
                    <img  class="img-smiley" src="assets/images/quaero/smiley_0.png" data-value="1" (click)="change_note($event)"/>
                </div >
                <div class="d-flex justify-content-center">
                    <figcaption class="figure-caption">Extrêmement insatisfait.</figcaption>
                </div>
            </figure>
            <figure class="figure ">
                <div class="d-flex justify-content-center">
                    <img  class="img-smiley" src="assets/images/quaero/smiley_1.png" data-value="2" (click)="change_note($event)"/>
                </div >
                <div class="d-flex justify-content-center">
                    <figcaption class="figure-caption ">Très insatisfait.</figcaption>
                </div>
            </figure>
            <figure class="figure">
                <div class="d-flex justify-content-center">
                    <img  class="img-smiley" src="assets/images/quaero/smiley_2.png" data-value="3" (click)="change_note($event)"/>
                </div >
                <div class="d-flex justify-content-center">
                    <figcaption class="figure-caption">Plutôt insatisfait.</figcaption>
                </div>
            </figure>
            <figure class="figure">
                <div class="d-flex justify-content-center">
                    <img  class="img-smiley" src="assets/images/quaero/smiley_3.png" data-value="4" (click)="change_note($event)"/>
                </div >
                <div class="d-flex justify-content-center">
                    <figcaption class="figure-caption ">Ni satisfait, Ni insatisfait.</figcaption>
                </div>
            </figure>
            <figure class="figure">
                <div class="d-flex justify-content-center">
                    <img  class="img-smiley" src="assets/images/quaero/smiley_4.png" data-value="5" (click)="change_note($event)"/>
                </div >
                <div class="d-flex justify-content-center">
                    <figcaption class="figure-caption ">Assez satisfait.</figcaption>
                </div>
            </figure>
            <figure class="figure">
                <div class="d-flex justify-content-center">
                    <img  class="img-smiley" src="assets/images/quaero/smiley_5.png" data-value="6" (click)="change_note($event)"/>
                </div >
                <div class="d-flex justify-content-center">
                    <figcaption class="figure-caption ">Très satisfait.</figcaption>
                </div>
            </figure>
            <figure class="figure ">
                <div class="d-flex justify-content-center">
                    <img  class="img-smiley" src="assets/images/quaero/smiley_6.png" data-value="7" (click)="change_note($event)"/>
                </div >
                <div class="d-flex justify-content-center">
                    <figcaption class="figure-caption ">Extrêmement satisfait.</figcaption>
                </div>
            </figure>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <input class="input-border-bottom input-note" [(ngModel)]="value" readonly />
    </div>
</li>



